/* service page design */
.service {
  padding-top: 50px;
  margin-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.right-column {
  padding-top: 50px;
  width: 100%;
}

.training-price {
  color: #b95416;
}
.add-member-btn Button {
  background-color: #201f1f;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  margin-top: 60px;
}
.add-member-btn Button:hover {
  background-color: #383431e8;
}

.service-img {
  width: 80%;
  padding-top: 50px;
}
