@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* home page style  */
.home {
  font-family: "Open Sans", sans-serif;
}
.card {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 20px;
}
.carousel-img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.why-choose-us {
  background-color: #2d3035;
  padding-top: 65px;
  padding-bottom: 100px;
  margin-bottom: 40px;
}
.why-choose-us-img {
  border-radius: 1px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  margin-right: 20px;
}

.chooseus-header {
  margin-top: 70px;
  margin-left: 80px;
}
.why {
  color: #18bdda;
}
.choose {
  color: #757575;
}
.our-goal {
  color: #bdbdbd;
  margin-left: 77px;
}
.button-choose {
  margin-left: 70px !important;
  margin-top: 60px !important;
  margin-bottom: 30px !important;
}

.support {
  margin-bottom: 15px;
  text-align: center;
  background-color: #eceeef;
}
.support-h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.support-h5 {
  text-align: center;
}
.support-button {
  text-align: center;
}
