/* navbar brand */

.navbar-brand {
  font-size: 25px !important;
}
/* navlink style  */
.nav a {
  text-decoration: none;
  color: whitesmoke !important;
  padding: 5px;
}
.nav-itemlist {
  position: relative;
  display: block;
  /* padding: 0.5rem 1rem; */
  color: #212529;
  text-decoration: none;
  background-color: #212529 !important;
}
.navLink:hover {
  color: #0d6efd !important;
}
